/.idea
/.venv
/pythonProject
/Tests/images/BAZA
Tests/images/kuba_czapka_mu
Tests/images/kuba_czapka_oki
Tests/images/kuba_neutral
Tests/images/szymon_czapka_bord
Tests/images/szymon_czapka_mu
Tests/images/szymon_czapka_oki
Tests/images/szymon_neutral
Tests/images/new
Tests/images/TRENING
